<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
				<li><a href="/">C. Noelyn Onah</a></li>
		        	<li><a href="/ABM">style="text-align:left">ABM</a></li>			
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:chimdimma.onah@postgrad.manchester.ac.uk">chimdimma.onah@postgrad.manchester.ac.uk</a></li>
	        		<li><a href="https://github.com/Onah-Noelyn">github.com/onah-noelyn</a></li>
				</ul>
			</footer>
		</body>
	</html>
