<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
				<li><a href="/">Chimdimma Noelyn Onah</a></li>
		        	<!--<li><a href="/Contact">Contact</a></li>-->			
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li> © 2017. All rights reserved </li>
				<li><a href="mailto:chimdimma.onah@postgrad.manchester.ac.uk">chimdimma.onah@postgrad.manchester.ac.uk</a></li>
	        		<li><a href="https://github.com/Onah-Noelyn">github.com/onah-noelyn</a></li>
				</ul>
			</footer>
		</body>
	</html>
